html,
body,

#mapid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}


#cityInfo {
    width: 100%;
    height: 60%;
    padding: 0;
    margin: 0;
  }

h1{
    color:black;
    text-align:center
}

p{
    text-align: center;
    color:black;
}

table{
    border:null;
    border-collapse:separate;
    table-layout: fixed;
    min-width: 1000px;
    width: 100%;
}

th, td {
    border: null;
    overflow: hidden;
    text-align: center;
    min-width: 1000px;
    width: 100%;
}    

th { 
    text-align: center; 
    font-weight: bold;
    
}

table td:last-child {
    width: 100%;
}

.col0, .col6 {
  white-space: nowrap;
} 


.carousel-item img {
    max-height: 400px;
    width: auto;
    min-width: auto;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-text {
    color: white;
}

body {
    background-color:lavender;
}